* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #faf7f2;
    color: #3d2b1f;
}

.navbar {
    width: 100%;
    background: #2d2119;
    color: white;
    padding: 18px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffddae;
}

.navbar nav a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #ffddae;
}

.cart-btn {
    padding: 8px 15px;
    background: #ffddae;
    border-radius: 20px;
    color: #2d2119 !important;
    font-weight: 600;
}

.hero {
    height: 65vh;
    background: url('https://professnow.com/blog/wp-content/uploads/2021/06/event-manage08.jpg')
                center/cover no-repeat;
    position: relative;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.hero-overlay {
    height: 100%;
    width: 100%;
    background: rgba(20, 14, 10, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-overlay h1 {
    color: #eec592;
    font-size: 32px;
    font-weight: 550;
    width: 60%; 
    padding-bottom:12%;
}

.hero-search {
    display: flex;
    background: #faf7f2 ;
    padding: 11px;
    margin-top: -60px;
    border-radius: 30px;
    width: 41%;
    justify-content: space-between;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.hero-search input,
.hero-search select {
    background-color: #faf7f2 ;
    border: none;
    outline: none;
    padding: 10px;
    width: 80%;
    font-size: 14px;
}

.hero-search button {
    background: #2d2119;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-search button:hover {
    background: #4a382a;
}

.home-intro {
    text-align: center;
    margin: 60px 0;
}

.home-intro h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.page-header {
    text-align: center;
    padding: 50px 0;
}

.page-header p{
    font-size: large;
    
}

.page-header h1 {
    font-size: 36px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 10% 60px;
}

.grid-card {
    background: white;
    border: 4px solid#2d2119;
    border-radius: 20px 20px;
    padding-bottom: 20px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.grid-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.18);
}

.grid-card img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0;
    object-fit: cover;
}

.grid-card h3 {
    margin-top: 15px;
    font-size: 20px;
}


.addon-list {
    padding: 40px 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.addon-list input {
    margin-right: 10px;
}

.addon-list .btn {
    width: 250px;
    padding: 22px;
    background: #2d2119;
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}

.addon-list .btn:hover {
    background: #4a382a;
}

.summary-box {
    width: 50%;
    margin: 40px auto;
    background: white;
    padding: 89px;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.12);
    font-size: 18px;
}

.summary-box p {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.confirm-btn {
    width: 100%;
    padding: 15px;
    background: #f8c78f;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

footer {
    background: #2d2119;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
